<% layout("/biolerplate")%>
<body>
    <div class="row">
        <div class="col-8 offset-2">
          <h3><%= listings.title %></h3>
        </div>
     <div class="card  col-6 offset-2" >
        <img src="<%=listings.image.url%>" class="card-img-top show-img" alt="Listing image">
        <div class="card-body">
          <p class="card-text"> <i>Owned By <%= listings.owner.username %></i></p>
          <p class="card-text"><%=listings.description %></p>
          <p class="card-text">&#x20b9;<%= listings.price.toLocaleString("en-IN") %>/Night</p> 
          <p class="card-text"> <%= listings.location%></p>
          <p class="card-text">  <%= listings.country %></p>
        </div>
     </div>
    </div>
<% if(currentUser && currentUser.id == listings.owner.id){ %>
<div class= "row">
    <a href="/listing/<%= listings._id%>/edit" class="col-1 offset-2  mb-3  "><button class="btn btn-dark">Edit</button></a>

    <form method="POST" action="/listing/<%=listings._id%>?_method=DELETE" class="mb-1 col-1" >
        <button class="btn btn-danger">Delete</button>
    </form>
</div>
<% } %>


<% if (currentUser) { %>
<div class="reviews col-8 offset-2 mb-2">
  <hr>
  <h2 class="mb-3">Product Rating</h2>
 <form action="/listing/<%= listings._id%>/reviews" method="post" class="needs-validation" novalidate>
 <div class="rating mb-2 mt-2">
  <label>Rating</label>
   <fieldset class="starability-slot">
    <input type="radio" id="no-rate" class="input-no-rate" name="review[rating]" value="1" checked aria-label="No rating." />
    <input type="radio" id="first-rate1" name="review[rating]" value="1" />
    <label for="first-rate1" title="Terrible">1 star</label>
    <input type="radio" id="first-rate2" name="review[rating]" value="2" />
    <label for="first-rate2" title="Not good">2 stars</label>
    <input type="radio" id="first-rate3" name="review[rating]" value="3" />
    <label for="first-rate3" title="Average">3 stars</label>
    <input type="radio" id="first-rate4" name="review[rating]" value="4" />
    <label for="first-rate4" title="Very good">4 stars</label>
    <input type="radio" id="first-rate5" name="review[rating]" value="5" />
    <label for="first-rate5" title="Amazing">5 stars</label>
  </fieldset>
</div>

   <div class="comment mb-2 mt-2">
     <label for="comment"  class="form-label">Comment</label>
     <textarea name="review[comment]"  type="text" placeholder="Comment" id="comment" class="form-control" required></textarea>
            <div class="invalid-feedback">
                Please provide description about property.
            </div>
   </div>
  <div class=" mb-2 mt-2">
    <button class="btn btn-dark">Submit</button>
  </div>
 </form>
</div>

<% } %>

<div class="reviews col-8 offset-2 mb-2"> 
  <hr>
    <h3>Reviews</h3>
   <div class="row">
    <% for(review of listings.reviews){ %>
      <% if (review) {%>
        <div class="review-card col-5 ms-2 mb-2">
          <div class="card-body">
            <div class="card-text"><b>@<%= review.author.username %></b></div>
            <p class="starability-result" data-rating="<%= review.rating %>"></p>
            <div class="card-text mb-2"><%= review.comment %></div>
            
            <% if(review.author.equals(currentUser)){ %>
            <form  class="mb-2 mt-2" method="POST" action="/listing/<%= listings._id %>/reviews/<%= review._id %>?_method=DELETE">
              <button class="btn btn-sm btn-danger">Delete</button>
            </form> 
            <% } %>
          </div>
        </div>
      <% }  else { %>
        
          <p>Not yet reviewed</p>
        
      <% } %>
      
    <% } %>
  </div>
</div>
</body>
